		</div>
	</main>
	
	<!-- conteudo principal// -->

	<footer>
		<p class="text-center">
			&#169; 2017 - Consecionária NodeJS! - Todos os direitos reservados.
		</p>
	</footer>

	<!-- Carrega os scripts e bibliotecas javascript -->
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="vendor/popper.js/dist/umd/popper.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>