<% include header.html %>
	<p>Olá. Seja bem vindo ao sistema da Consecionária NodeJS!</p>
	<h2>Como instalar</h2>
	<p>Para instalar este sistema leia o Arquivo <a href="https://github.com/getuliovinicius/trabalho-02-programacao-de-scripts/blob/master/README.md">README.md</a>.</p>
	<p>Mas também existe um arquivo INSTRUÇÕES.txt na pasta do projeto.</p>
<% include footer.html %>