<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="UTF-8">
	<meta id="viewport" name="viewport" content="width=device-width, initial-scale=1">
	<title>Programação de Scripts</title>
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/dist/css/bootstrap.css" media="screen">
	<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.css" media="screen"> 
	<link rel="stylesheet" type="text/css" href="assets/css/main.css" media="screen">
</head>

<body data-spy="scroll" data-target="#nav-menu" data-offset="150">
	<!-- //cabecalho -->
	<header>
		<nav>
			<ul>
				<li><a href="#">Inicio</a></li>
				<li><a href="#montadoras">Montadoras</a></li>
				<li><a href="#automoveis">Automóveis</a></li>
			</ul>
		</nav>
	</header>
	<!-- cabecalho// -->

	<!-- //conteudo principal -->

	<!-- Carrega os scripts e bibliotecas javascript -->
	<script type="text/javascript" src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>

</html>